/* Fk Display */
@font-face {
    font-family: 'Fk Display'; 
    font-style: normal; 
    font-weight: 400;
    src: url("../fonts/6266b6147bba3f2d0e01a942_FKDisplay-Regular.woff2") format('woff2'); 
}

/* mabry */
@font-face {
    font-family: 'Mabry pro'; 
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/6267151016bf23de0b9fb094_mabry-regular-pro.woff2") format('woff2'); 
}

/* Noto Sans KR */
@font-face {
    font-family: 'Noto Sans KR'; 
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/NotoSansKR-Medium.woff2") format('woff2'); 
}
